<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" href="{{ site.baseurl }}/assets/icon.png type="image/x-icon" />

<!--ibm plex mono font-->
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />

<!--tailwind css-->
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = { theme: { extend: { fontFamily: { mono: ['"IBM Plex Mono"', 'monospace'] } } } }
</script>