<!DOCTYPE html>
<html lang="lang-en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luqman</title>

    <!--open graph-->
    <meta property="og:title" content="Luqman" />
    <meta property="og:description" content="Luqman's little corner of the internet." />

    <!--ibm plex mono font-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />

    <!--tailwind css-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = { theme: { extend: { fontFamily: { mono: ['"IBM Plex Mono"', 'monospace'] } } } }
    </script>
</head>

<!--apply tailwind css via class-->
<body>
    <header></header>
    <main></main>
    <footer></footer>
</body>
</html>